body {
min-width: 1100px;
max-width: 1600px;
margin: auto;
font-family: "Inter", Arial, sans-serif;
font-family: "Noto Serif", "Times New Roman", serif;
font-size: 16px;
line-height: 20px;
}

.header {
    background: white url("background_header.svg") no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    position: relative;
    box-sizing: border-box;
    padding: 30px 80px 40px;

}

.span-accent {
    color:#02b14e;
    display: block;
    top: 183px;
    left: 80px;
    font-family: "Noto Serif" , "Times New Roman" , serif;
    font-style: italic;
    font-size: 58px;
    line-height: 72px;
}

.header-title {
    max-width: 709px;
    margin-top: 183px;
    left: 80px;
    font-family: "Inter" , Arial , sans-serif;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px; 
    position:static;   
}

.header-description {
    max-width: 683px;
    font-family: "Noto Serif" , "Times New Roman" , serif;
    font-size: 20px;
    line-height: 30px;
    position:relative;
    margin-top: -28px;
    
}

.logo {
    position: relative;
    height: 39px;
    width: 105px;
    top: 30px;
    left: -50px;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    text-decoration: none;
    column-gap: 20px;
    font-family: "Inter" , Arial , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    color: black;
    right: 26px;

}

.header-image {
    position: absolute;
    top: 124px;
    right: 5px;
    height: 568px;
    width: 646px;

}

.header-info {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6F6F6F;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 80px;
    right: 80px;
    justify-content: space-between;
    }
    
    .header-info div:nth-of-type(2){
        padding-top:20px
    }

    .header-hours p{
        margin:0;
      }
      
    


